.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.login{
    display: none;
}

.signup{
    display: none;
}
.chose{
    width: 30%;
    padding:10px 30px 10px 30px;
   
    text-align: center;
    background-color:red;

}
.btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bt{
    border: none;
    padding: 5px;
    background-color: #034488;
    color: #fffcf6;
}